@tailwind base;
@tailwind components;
@tailwind utilities;


// Google font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm_sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  @apply text-white dm_sans;
}


@layer utilities {
  @import "utilities";
}