// Background Image
.bg_image {
    @apply w-full h-full bg-contain bg-repeat-y bg-inherit bg-body_bg;
    background-image: url('../images/background.svg');
}


// gradient bg color
.bg_gradient_color {
    @apply bg-gradient-to-r from-[#F5BD4D] to-[#F89222];
}

.bg_pricing_gradient_color {
    @apply bg-gradient-to-r from-[#F892224D]/30 to-[#F89222]/30;
}

// gradient text color
.text_gradient_color {
    background: linear-gradient(to right, #F5BD4D, #F89222);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


// portfolio tabs
.portfolio_tab {
    @apply px-2 py-3;
}

.portfolio_tabs span.active,
.portfolio_tabs span:hover {
    @apply text-[#F89222] border-b-2 border-[#F89222] cursor-pointer;
}

.gallery .image img {
    @apply w-full align-middle;
    transition: all 0.3s ease;
}

.gallery .image:hover img {
    transform: scale(1.1);
}

.gallery .image.hide {
    @apply hidden;
}

.gallery .image.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}


// Menu button
.group .group_hamburger_1 {
    @apply ring-4;

    .group_hamburger_2 {
        @apply -rotate-[45deg];

        .group_hamburger_3 {
            @apply -rotate-90 h-[1px] -translate-y-[1px];
        }

        .group_hamburger_4 {
            @apply -rotate-90 h-[1px] translate-y-[1px];
        }
    }
}